---
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro';
---

<Layout title="Categories">
  <h1 class="h1">Categories coming soon...</h1>
  <Button />
</Layout>
